@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["News"] = "News about pandemic";
}
<table>
    <thead>
        NewPandemic4
    </thead>
    <tbody>
        <tr>
            <td>@NewsBase.ListNews</td>

        </tr>
    </tbody>
</table>