@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  <!--------  ViewData["Title"] = "Pandemic information";----- Здесь будет эксепшн ---->
    ViewData["IndexNews"] = "News about pandemic";
}
<table>
    <thead>
        
        ViewData["IndexNews"] = "News about pandemic";
    </thead>
    <tbody>
        <tr>
            <td>Plus</td>
       </tr>
    </tbody>
</table>